{% extends "dashboard/layout.html" %}
{% load i18n %}
{% load url from future %}

{% block title %}
    {% trans "Add merchant account" %} | {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li>
            <a href="{% url "dashboard:index" %}">{% trans "Dashboard" %}</a>
            <span class="divider">/</span>
        </li>
        <li class="active">
            {% trans "Add merchant account" %}
        </li>
    </ul>
{% endblock %}

{% block dashboard_content %}
    <div class="table-header">
        <h3><i class="icon-truck icon-large"></i>{% trans "Add merchant account" %}</h3>
    </div>

    <div class="well">
        {% include 'partials/form.html' %}
    </div>
{% endblock %}

